<h1>Listing account_credentials</h1>

<table>
  <tr>
    <th>Employee</th>
    <th>Employer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @account_credentials.each do |account_credential| %>
  <tr>
    <td><%= account_credential.employee_id %></td>
    <td><%= account_credential.employer_id %></td>
    <td><%= link_to 'Show', account_credential %></td>
    <td><%= link_to 'Edit', edit_account_credential_path(account_credential) %></td>
    <td><%= link_to 'Destroy', account_credential, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account credential', new_account_credential_path %>
