<%= form_for(@account_credential, :url => saml_login_path ) do |f| %>
  <% if @account_credential.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account_credential.errors.count, "error") %> prohibited this account_credential from being saved:</h2>

      <ul>
      <% @account_credential.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :client %><br />
    <%= select_tag :client, options_for_select(
            {
                    "CBC" => "cbc",
                    "CBC FFM (anonymous)" => "cbcffma",
                    "CBC FFM (registered)" => "cbcffmr",
                    "AIC" => "aic",
                    "Avera Group" => "avera-group",
                    "AultCare Group" => 'aultcare-group',
                    "Intuit" => 'intuit',
                    "Assurant" => "assurant",
                    "Paychex" => "paychex",
            }, @client || "cbc") %>
    ...or enter custom client subdomain <small>(if set, takes priority)</small>
    <%= text_field_tag :client_custom %>
  </div>

  <div class="field">
    <%= f.label :employer_id %><br />
    <%= f.text_field :employer_id %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br />
    <%= f.text_field :employee_id, :style => 'width: 300px' %>
  </div>
  <div class="field">
    <%= f.label :name_id %> (not required)<br />
    <%= f.text_field :name_id %>
  </div>
  <div class="evo1_only">
    <div class="field">
      <%= f.label :administrator_alias %> (only required for Ev1 clients. E.g. Assurant)<br />
      <%= f.text_field :administrator_alias, :value => "IHD" %>
    </div>
    <div class="field">
      <%= f.label :plan_year_name %> (only required for Ev1 clients. E.g. Assurant)<br />
      <%= f.text_field :plan_year_name %>
    </div>
    <div class="field">
      <%= f.label :plan_year_start %> (only required for Ev1 clients. E.g. Assurant)<br />
      <%= f.text_field :plan_year_start, :placeholder => 'MM/DD/YYYY HH:MM:SS' %>
    </div>
    <div class="field">
      <%= f.label :agent_phone %> (only required for Ev1 clients. E.g. Assurant)<br />
      <%= f.text_field :agent_phone %>
    </div>
    <div class="field">
      <%= f.label :agent_code %> (only required for Ev1 clients. E.g. Assurant)<br />
      <%= f.text_field :agent_code %>
    </div>
    <div class="field">
      <%= f.label :agent_name %> (only required for Ev1 clients. E.g. Assurant)<br />
      <%= f.text_field :agent_name %>
    </div>
  </div>
  <div class="ffm_only">
    <div class="field">
      <%= f.label :uuid %> (only used for CBCFFMr)<br />
      <%= f.text_field :uuid, :placeholder => 'XXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX' %>
    </div>
    <div class="field">
      <%= f.label "First name (FFM)" %><br />
      <%= f.text_field :ffm_firstname %>
    </div>
    <div class="field">
      <%= f.label "Last name (FFM)" %><br />
      <%= f.text_field :ffm_lastname %>
    </div>
    <div class="field">
      <%= f.label "Consumer ID (FFM)" %><br />
      <%= f.text_field :ffm_consumerid %>
    </div>
    <div class="field">
      <%= f.label "Partner consumer ID (FFM)" %><br />
      <%= f.text_field :ffm_partner_consumerid %>
    </div>
    <div class="field">
      <%= f.label "Partner logging token (FFM)" %><br />
      <%= f.text_field :ffm_partner_token %>
    </div>
    <div class="field">
      <%= f.label "Partner logging token (FFM)" %><br />
      <%= f.text_field :ffm_usertype %>
    </div>
  </div>
  <div class="field">
    <%= label_tag :environment %><br />
    <%= select_tag :environment, options_for_select({ "Staging" => "stg.connectedhealth.com",
						      "Merge" => "merge.connectedhealth.com",
						      "TBox Merge" => "tb-merge.connectedhealth.com",
						      "TBox Staging" => "tb-stg.connectedhealth.com",
						      "Localhost" => 'ch.localhost' }, @last_environment) %>
  </div>
  <div class="field">
    <%= label_tag :protocol %><br />
    <%= select_tag :protocol, options_for_select({ "http" => "http", "https" => "https" }, @last_protocol) %>
  </div>
  <div class="field">
    <%= label_tag :port %><br />
    <%= text_field_tag :port, @last_port %>
  </div>

  <div class="actions">
    <%= f.submit "Login" %>
  </div>

  <div>
    <p>See <a href="https://github.com/connectedhealth/Health-Care-Cost-Calculator/wiki/Clients-users-and-credentials">Users and Credentials</a></p>
  </div>
<% end %>

<script>
    $(function() {
        $('.ffm_only').hide();
        $('.evo1_only').hide();

        $('#client').change(function() {
            var selectedClient = $('#client option:selected').val();

            if (selectedClient == 'cbcffmr') {
              $('.ffm_only').show();
            } else {
              $('.ffm_only').hide();
            }

            if (selectedClient == 'assurant') {
                $('.evo1_only').show();
            } else {
                $('.evo1_only').hide();
            }
        });
    });
</script>