<%= javascript_include_tag 'login.js' %>
<%= form_for(@account_credential, :url => saml_login_path ) do |f| %>
  <% if @account_credential.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account_credential.errors.count, "error") %> prohibited this account_credential from being saved:</h2>

      <ul>
      <% @account_credential.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employer_id %><br />
    <%= f.text_field :employer_id %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br />
    <%= f.text_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :name_id %> (not required)<br />
    <%= f.text_field :name_id %>
  </div>
  <div class="field">
    <%= f.label :plan_year_name %> (only required for Assurant &amp; Intuit)<br />
    <%= f.text_field :plan_year_name %>
  </div>
  <div class="field">
    <%= f.label :plan_year_start %> (only required for Assurant &amp; Intuit)<br />
    <%= f.text_field :plan_year_start, :placeholder => 'MM/DD/YYYY HH:MM:SS' %>
  </div>
  <div class="field">
    <%= f.label :uuid %> (only used for CBCFFMr)<br />
    <%= f.text_field :uuid, :placeholder => 'XXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX' %>
  </div>
  <div class="field">
    <%= label_tag :client %><br />
    <%= select_tag :client, options_for_select({
        "CBC" => "cbc",
        "CBC FFM" => "cbcffm",
        "AIC" => "aic",
        "Avera Group" => "avera-group",
        "AultCare Group" => 'aultcare-group',
        "Intuit" => 'intuit',
        "Assurant" => "assurant",
        "Paychex" => "paychex",
      }, @client || "cbc") %>
    ...or enter custom client subdomain <small>(if set, takes priority)</small>
    <%= text_field_tag :client_custom %>
  </div>
  <div class="field">
    <%= label_tag :environment %><br />
    <%= select_tag :environment, options_for_select({ "Staging" => "stg.connectedhealth.com",
						      "Merge" => "merge.connectedhealth.com",
						      "TBox Merge" => "tb-merge.connectedhealth.com",
						      "TBox Staging" => "tb-stg.connectedhealth.com",
						      "Localhost" => 'ch.localhost' }, "merge") %>
  </div>
  <div class="field">
    <%= label_tag :protocol %><br />
    <%= select_tag :protocol, options_for_select({ "http" => "http", "https" => "https" }, "http") %>
  </div>
  <div class="field">
    <%= label_tag :port %><br />
    <%= text_field_tag :port, 80 %>
  </div>

  <div class="actions">
    <%= f.submit "Login" %>
  </div>
<% end %>
